@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    @apply bg-zinc-100;
  }
}

@layer utilities {
  .no-margin-padding {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}
